@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
}

@layer base {
  html,
  body {
    @apply h-full w-full font-mono;
  }

  /* body {
    @apply bg-primary text-color-light;
  } */
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

/* Apply the fade-in effect to the element */
.fade-in-element {
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 0.125s ease-in forwards;
}
